---
layout: none
common-googlefonts:
  - "Lora:400,400i,700,700i"
  - "Noto+Sans+SC:300,400,500,700&amp;subset=chinese-simplified"  
  - "Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"  
  - "Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i"
  - "Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i"  
---
<!DOCTYPE html>
{%- include snippets/get-lang.html -%}
<html lang="{{ __return }}">
  <head>
    {%- include analytics.html -%}
    {%- include head.html -%}
    <script>
      {%- include scripts/utils/utils.js -%}
      {%- include scripts/lib/throttle.js -%}
      {%- include scripts/lib/lazyload.js -%}
    </script>
    {%- include scripts/variables.html -%}
  </head>
  <body>
    <div class="root" data-is-touch="false">
      {{ content }}
    </div>
    <script>
      {%- include scripts/common.js -%}
    </script>
  </body>
</html>